.welfare-section {
    padding-top: 100px;
    width: 1400px;
    height: 430px;
    background-color: #f9f9f9;
    text-align: center;
    margin: auto;
    background: #fff;
}

.welfare-section h2 {
    text-align: left;
    font-size: 28px;
    margin-bottom: 50px;
}

.welfare-section span {
    color: #f7931e;
    font-weight: 700;
}

.welfare-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.welfare-item {
    width: 200px;
    text-align: center;
}

.welfare-item img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.welfare-item:hover img {
    transform: scale(1.05);
}

.welfare-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    transition: 0.4s all;
    cursor: pointer;
}

.welfare-item h3:hover {
    color: #f7931e;
}

.welfare-item p {
    font-size: 14px;
    color: #555;
}
